/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

.idea/

.idea/.name

.idea/blade.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/portfolio52.iml

.idea/vcs.xml

.idea/workspace.xml

storage/app/public/.DS_Store

public/files/temp

public/files/350x250

public/files/700x500

public/files/150x150

public/files/300x300

nohup.out